body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    text-align: center; /* Centraliza todo o conteúdo */
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

header {
    background-color: #000;
    color: #fff;
    padding: 10px 0;
}

h1 {
    margin: 0; 
    display: inline-block; 
}

nav {
    display: inline-block; 
    margin-left: 20px; 
}

.menu {
    list-style-type: none; 
    padding: 0; 
}

.menu li {
    display: inline-block; 
    margin-right: 10px; 
}

.menu li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.menu li a:hover {
    background-color: #555;
    border-radius: 5px;
}
